h1 {
    font-size: 55px;
}

h3 {
    font-size: 35px;
    color: white;
}

a {
    font-size: 20px;
    color: #45B39D;
    margin: 10px;
}

#background_video {
    width: 100vw;
    z-index: -100;
    position: absolute;
    top: 0;
    left: 0;
}

#video_wrapper {
    height: 90vh;
}

#landing {
    text-align: center;
    margin-top: 10%;
}

.active {
    color: #FAD7A0;
}

@media (max-width: 525px) {
    #background_video {
        width: 160vw;
    }
}

@media (max-width: 525px) {
    #video_wrapper {
        height: 50vh;
    }
}

@media (min-width: 526px) and (max-width: 800px) {
    #video_wrapper {
        height: 60vh;
    }
}

@media (min-width: 801px) and (max-width: 1024px) {
    #video_wrapper {
        height: 70vh;
    }
}