<div class="store">
    <h3>The Widget Factory Store</h3>
    <div>
        <h4>Browse for widgets by category</h4>
        <select (change)="updateInventoryList($event.target.value)">
            <option *ngFor="let category of categories" [value]="category.category_id" [selected]="category.category_id === selectedCategoryId">{{category.name}}</option>
        </select>
        <div *ngFor="let widget of widgets"  class="col-1-4">
            <widget-listing [widget]="widget"></widget-listing>
        </div>
    </div>
</div>
