button {
  border-radius: 0px;
  background-color: #D1D6DB;
  border-style: none;
  border: 1px solid black;
  padding: 5px 10px;
}

button:hover {
  cursor: pointer;
  background-color: #E1E4E7;
}


.listing {
    padding: 15px;
}

.widget_icon {
  width: 0px;
  height: 0px;
  border: 60px solid gray;
  border-radius: 60px;
}

.small {
  border: 40px solid;
  border-radius: 40px;
}

.little {
  border: 30px solid;
  border-radius: 30px;
}

.tiny {
  border: 15px solid;
  border-radius: 15px;
}