<div class="listing">
    <p>{{widget.name}}</p>
    <div class="widget_icon" [ngStyle]="{'border-color': color}" [ngClass]="{'small': isSmall(widget.size_id), 'tiny': isTiny(widget.size_id), 'little': isLittle(widget.size_id)}"></div>
    <p *ngIf="color">Color: {{color}}</p>
    <p *ngIf="size">Size: {{size}}</p>
    <p *ngIf="widget.description">Description: {{widget.description}}</p>
    <p *ngIf="widget.in_stock">Currently in stock: {{widget.in_stock}}</p>
    <p *ngIf="widget.price_cents">Price: {{ (widget.price_cents / 100) |  currency:'USD':true:'1.2-2'}}</p>
    <button *ngIf="currentOrderId" (click)="addWidgetToOrder()">Add to order</button>
    
</div>